.productBlock, .productBlockLast{
    float: left;
    width: 240px;
    padding: 25px;
    border: 2px solid black;
    margin-top: 25px;
}
.productBlock:hover, .productBlockLast:hover{
    border: 2px solid #ef9a20;
}
.productBlock{
    margin-right: 54px;
}
.productBuyButton{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px 12px;
    margin-top: 25px;
    cursor: pointer;
    text-align: center;
}
.productBuyButton:hover, .productBuyClickButton:hover{
    color: black;
    background-color: #ef9a20;
}
.productBuyClickButton{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px 12px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;    
}
.productImageCatalog{
    width: 240px;
    height: 420px;
    position: relative;
    cursor: pointer;
}
.priceAngleCatalog{
    float: right;
    background:transparent url("../i/angle.png") no-repeat 0 0;
    width: 101px;
    height: 101px;
    color: black;
    font-size: 14px;
    text-align: right;
    padding: 10px 10px 0 0;
    line-height: 16px;
}
.priceAngleCatalog span.anglePriceValCatalog{
    font-size: 21px;
}
.productTitleCatalog{
    position: absolute;
    bottom: 0;
    background:transparent url("../i/product_title_back.png") no-repeat 0 0;
    width: 192px;
    height: 42px;
    text-align: left;
    padding: 24px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    vertical-align: middle;
}
@media (max-width:1116px){
    .contentInnerRight{
         display: none;
    }    
    .contentInnerLeft{
        margin-right: 0 !important;
        width: 100%;
        max-width: 990px;
    }
}